.footer{
    background-color: $neutral-dark-cyan;
    padding: 200px 0 80px 0;

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .footer-section{
        @extend .row;
        gap: 25px;
        align-items: flex-start;
        width: 100%;
    }

    .text-wrapper{
        @extend .row;
        gap: 10px;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        
        img {
            width: 20px;
        }
    }

    .link {
        color: white;
        text-decoration: none;
    }

    .link-wrapper {
        @extend .row;
        gap: 15px;
        width: 100%;
        align-items: flex-start;
    }

    .text{
        color: white;
        text-align: left;
    }

    .logo{
        max-width: 200px;
    }

    .info-wrapper{
        width: 90%;
    }

    .img-wrapper{
        width: 10%;
    }
    .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;

        i {
            color: white;
            font-size: 15px;
            border-radius: 100px;
            border: 1px solid white;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .copyright{
        color: white;
        text-align: center;
        font-size: 13px;
        margin: auto;
    }
}
