.button-style{
    font-weight: 700;
    font-family: $font-body;
    border-radius: 100px;
}
.white-button {
    @extend .button-style;
    background-color: white;
    padding: 5px 25px;
    font-size: 13px;
    color: $neutral-dark-cyan;
    -webkit-box-shadow: 0 1px 8.5px -6px #00252e;
    -moz-box-shadow: 0 1px 8.5px -6px #00252e;
    box-shadow: 0 1px 8.5px -6px #00252e;
}

.pink-button {
    @extend .button-style;
    background-color: $primary-color;
    padding: 10px 30px; 
    color: $neutral-pale-cyan;
}